@model IEnumerable<Project1MVC.Models.UserRole>

@{
    ViewBag.Title = "Manage Roles";
}

<h2>Manage Roles</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RoleName)
        </th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.RoleName)
    </td>

    <td>
        <div class="dropdown">
            <i class="text-muted fa fa-ellipsis-v btn dropdown-toggle" id="dropdownMenuButton" aria-hidden="true" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
            <ul class="dropdown-menu" style="margin-left:1.5em; top:0;">
                    <li>
                        <a href="@Url.Action("Edit", new { id = item.UserRoleId })" class="btn btn-default">
                            <p></p><p><i class="text-warning fa fas fa-edit"></i>Edit</p>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Details", new { id = item.UserRoleId })" class="btn btn-default">
                            <p></p><p><i class="text-info fa fas fa-info-circle"></i>Details</p>
                        </a>
                    </li>
            </ul>
        </div>
    </td>
</tr>
}

</table>
