@model IEnumerable<Project1MVC.Models.Equipment>

@{
    ViewBag.Title = "Index";
}

<h2>Equipments In Stock</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentStockCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReStockThreshold)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentStockCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReStockThreshold)
        </td>
    </tr>
}

</table>
