@model Project1MVC.Models.OrderWrapper

@{
    ViewBag.Title = "Order Details";
}

<h2>Order Details</h2>

<div>
    <h3>Order Details</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderProp.OrderDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderProp.OrderDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderProp.IsOrderComplete)
        </dt>

        <dd>
            @Html.CheckBoxFor(model => model.OrderProp.IsOrderComplete, new { data_toggle = "toggle", data_on = "Yes", data_off = "Not Yet", data_onstyle = "success", data_offstyle = "warning", disabled = "disabled" })

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderProp.SupplierName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderProp.SupplierName)
        </dd>
    </dl>
    <h4>Equipments</h4>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EquipmentOrderProp.ElementAt(0).EquipmentBrand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EquipmentOrderProp.ElementAt(0).EquipmentModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EquipmentOrderProp.ElementAt(0).Qty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EquipmentOrderProp.ElementAt(0).UnitPrice)
            </th>
        </tr>

        @foreach (var item in Model.EquipmentOrderProp)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EquipmentBrand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EquipmentModel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Qty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
            </tr>
        }

    </table>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderProp.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
