@model IEnumerable<Project1MVC.Models.OrderWrapper>

@{
    ViewBag.Title = "Manage Orders";
}

<h2>Manage Orders</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderProp.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderProp.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderProp.EffectiveDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderProp.IsOrderComplete)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderProp.SupplierName)
        </th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.OrderProp.Id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.OrderProp.OrderDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.OrderProp.EffectiveDate)
    </td>
    <td>
        @Html.CheckBoxFor(modelItem => item.OrderProp.IsOrderComplete, new { data_toggle = "toggle", data_on = "Yes", data_off = "Not Yet", data_onstyle = "success", data_offstyle = "warning", disabled = "disabled" })
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.OrderProp.SupplierName)
    </td>

    <td>
        <div class="dropdown">
            <i class="text-muted fa fa-ellipsis-v btn dropdown-toggle" id="dropdownMenuButton" aria-hidden="true" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
            <ul class="dropdown-menu" style="margin-left:1.5em; top:0;">
                @if (!item.OrderProp.IsOrderComplete)
                {
                    <li>
                        <a href="@Url.Action("Edit", new { id = item.OrderProp.Id })" class="btn btn-default">
                            <p></p><p><i class="text-warning fa fas fa-edit"></i>Edit</p>
                        </a>
                    </li>
                }
                <li>
                    <a href="@Url.Action("Details", new { id = item.OrderProp.Id })" class="btn btn-default">
                        <p></p><p><i class="text-info fa fas fa-info-circle"></i>Details</p>
                    </a>
                </li>
                @if (!item.OrderProp.IsOrderComplete)
                {
                    <li>
                        <a href="@Url.Action("Delete", new { id = item.OrderProp.Id })" class="btn btn-default">
                            <p></p><p><i class="text-info fa fas fa-trash"></i>Delete</p>
                        </a>
                    </li>
                }
                </ul>
        </div>
    </td>
    @*<td>
        @if (!item.OrderProp.IsOrderComplete)
        {
            @Html.ActionLink("Edit", "Edit", new { id = item.OrderProp.Id }) <span>|</span>
        }

        @Html.ActionLink("Details", "Details", new { id = item.OrderProp.Id })

        @if (!item.OrderProp.IsOrderComplete)
        {
            <span>|</span> @Html.ActionLink("Delete", "Delete", new { id = item.OrderProp.Id })
        }
    </td>*@
</tr>
}

</table>
