@model List<Project1MVC.Models.Equipment>

<div class="form-group">

    <label class="control-label col-md-2">Equipments Assigned</label>
    <div class="col-md-3">
        <table class="table">
            <thead>
                <th>Display Name</th>
                @*<th>Type</th>
                <th>Brand</th>
                <th>Model</th>*@
                <th>Action</th>
            </thead>
            <tbody id="equipments-assigned">
                @for (int i = 0; i < Model.Count(); i++)
                {
                <tr>
                    <td>@Model[i].DisplayName</td>
                    @*<td>@Model[i].Type</td>
                    <td>@Model[i].Brand</td>
                    <td>@Model[i].Model</td>*@
                    <td><input type="button" name="delete-button" class="btn btn-danger" value="Delete" onclick="DeleteFromList(this)" /></td>
                    <input type="hidden" name="EquipmentID[@i]" value="@Model[i].Id">
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/userscripts")