@*@model List<Project1MVC.Models.Equipment>*@
@using Newtonsoft.Json;

<div class="form-group">

    <label class="control-label col-md-2">Equipments Assigned</label>
    <div class="col-md-3">
        <table class="table">
            <thead>
                <th>Display Name</th>
                @*<th>Type</th>
                <th>Brand</th>
                <th>Model</th>*@
                <th>Action</th>
            </thead>
            <tbody id="equipments-assigned">
                @foreach (var assignedEquipment in ViewBag.AssignedEquipmentList)
                {
                <tr>
                    <td>@JsonConvert.DeserializeObject(assignedEquipment).DisplayName</td>
                    @*<td>@Model[i].Type</td>
                    <td>@Model[i].Brand</td>
                    <td>@Model[i].Model</td>*@
                    <td><input type="button" name="delete-button" class="btn btn-danger" value="Return" onclick="ReturnEquipment(this)" /></td>
                    <input type="hidden" name="SerialNo" value="@JsonConvert.DeserializeObject(assignedEquipment).SerialNo">
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/userscripts")