@model IEnumerable<Project1MVC.Models.Employee>

@{
    ViewBag.Title = "Manage Employees";
}
<style>
    .dropdown-menu li{
        width:100%;
    }
        .dropdown-menu li .btn {
            border: none;
            width: inherit;
            text-align: left !important;
        }
        .dropdown-menu li .btn i {
            margin-right: 1em;
        }
</style>

<h2>Manage Employees</h2>

<p>
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("\0", "Create", new { }, new { @class = "btn btn-success fa fas fa-user-plus fa-2x", @title = "Create" })
    }
    </p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LName)
        </th>
        @if (User.IsInRole("Admin"))
        {
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
        }
            <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        if (User.IsInRole("Technician") && !item.IsActive)
        {
            continue;
        }
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LName)
                </td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNo)
                    </td>
                    <td>
                        @Html.CheckBoxFor(modelItem => item.IsActive, new { data_toggle = "toggle", data_on = "Active", data_off = "Inactive", data_onstyle = "success", data_offstyle = "warning", disabled = "disabled" })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoleName)
                    </td>
                }

                    <td>
                        <div class="dropdown">
                            <i class="text-muted fa fa-ellipsis-v btn dropdown-toggle" id="dropdownMenuButton" aria-hidden="true" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                            <ul class="dropdown-menu" style="margin-left:1.5em; top:0;">

                                @if (User.IsInRole("Admin"))
                                {
                                    <li>
                                        <a href="@Url.Action("Edit", new { id = item.UserId })" class="btn btn-default">
                                            <p></p><p><i class="text-warning fa fas fa-edit"></i>Edit</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Details", new { id = item.UserId })" class="btn btn-default">
                                            <p></p><p><i class="text-info fa fas fa-info-circle"></i>Details</p>
                                        </a>
                                    </li>
                                }
                                @if (item.IsActive)
                                {
                                    <li>
                                        <a href="@Url.Action("Index", "EquipmentAssignment", new { id = item.UserId })" class="btn btn-default">
                                            <p></p><p><i class="fa fas fa-suitcase"></i>Assign Equipments</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Terminate", new { id = item.UserId })" class="btn btn-default">
                                            <p></p><p><i class="text-danger fa fas fa-ban"></i>Terminate</p>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </td>
            </tr>
        }

    </table>

