@model IEnumerable<Project1MVC.Models.Employee>

@{
    ViewBag.Title = "Manage Employees";
}

<h2>Manage Employees</h2>

<p>
    @Html.ActionLink(" Create", "Create", new {}, new { @class = "btn btn-primary btn fa fa-plus" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoleName)
        </th>
        <th></th>
        @{ if (User.IsInRole("Admin"))
            {
                <th></th>
                <th>Actions</th>
                <th></th>
            }
        }
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNo)
            </td>
            <td>
                @Html.CheckBoxFor(modelItem => item.IsActive, new { data_toggle = "toggle", data_on = "Active", data_off = "Inactive", data_onstyle = "success", data_offstyle = "warning", disabled = "disabled" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
            <td>
                @Html.ActionLink("Assign Equipments", "Index", "EquipmentAssignment", new { id = item.UserId }, new { @class = "btn btn-primary" })
            </td>
            @{
                if (User.IsInRole("Admin"))
                {
                    <td>
                        @Html.ActionLink("\0", "Edit", new { id = item.UserId },new { @class = "btn btn-warning fa far fa-edit fa-3x", @title="Edit"})
                    </td>

                    <td>
                        @Html.ActionLink("\0", "Details", new { id = item.UserId }, new { @class = "btn btn-primary fa fas fa-info-circle fa-3x", @title = "Details" })
                    </td>

                    <td>
                        @Html.ActionLink("\0", "Delete", new { id = item.UserId }, new { @class = "btn btn-danger fa fas fa-trash fa-3x", @title = "Delete" })
                    </td>
                }
            }
        </tr>
    }

</table>

