@using Project1MVC.Models;
@using Project1MVC.Services;
@model List<Equipment>
@{
    ViewBag.Title = "Index";
}

<h2>Equipments</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        @foreach (string col in ViewBag.displayCols)
        {
            <th>
                @Html.ActionLink(linkText: ServicesHelper.GetDisplayName<Equipment>(col), actionName: "Index", controllerName: "Equipment",
                routeValues: new { sortBy = col, sortOrder = ViewBag.nextSortOrders[col] },
                htmlAttributes: null
                )
            </th>
        }
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @foreach (string col in ViewBag.displayCols)
            {
            <td>
                @item[col]
            </td>

                @*<td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.EquipId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.EquipId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.EquipId })
                    </td>*@
            }
        </tr>
    }
</table>