@using Project1MVC.Models;
@using Project1MVC.Services;
@model List<Equipment>
@{
    string controller = "Equipment";
    string primaryColumn = ServicesHelper.GetDefaultColumn<Equipment>();
    ViewBag.Title = "Index";
    ViewBag.displayCols = ServicesHelper.SanitizeColumns<Equipment>(ViewBag.displayCols);
    ViewBag.pageIncrement = ServicesHelper.DefaultPageIncrement;

    if (ViewBag.displayPrimaryColumn == false)
    {
        ViewBag.displayCols.Remove(primaryColumn);
    }
    else
    {
        if (!ViewBag.displayCols.Contains(primaryColumn))
        {
            ViewBag.displayCols.Add(primaryColumn);
        }
    }
}

<h2>All @{@controller}s</h2>
<p>
    @Html.ActionLink("Add New", "Add")
</p>

<div style="margin: 2em auto;">
    <div style="float: left;">
        <div syle="padding: 2em auto;">
            <label>Type: </label>
            <input type="text" placeholder="Type" class="form-control search mb-0" style="margin-left: 1em;" />
        </div>

        <div syle="padding: 2em auto;">
            <label>Brand: </label>
            <input type="text" placeholder="Brand" class="form-control search mb-0" style="margin-left: 1em;" />
        </div>

        <div syle="padding: 2em auto;">
            <label>Model: </label>
            <input type="text" placeholder="Model" class="form-control search mb-0" style="margin-left: 1em;" />
        </div>

        <div syle="padding: 2em auto;">
            <label>ReStock Threshold: </label>
            <input type="text" placeholder="ReStock Threshold" class="form-control search mb-0" style="margin-left: 1em;" />
        </div>

        <button type="button" class="btn btn-primary">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
            </svg>
            Filter
        </button>
    </div>

    <div style="float: right; display: flex; align-items: center;">
        <select id="selectPageSize" style="vertical-align: middle; width: 75px; margin: 5px; padding: 5px; cursor: pointer;">
            @{
                foreach (int pageSize in ServicesHelper.GetPageSizeList())
                {
                    string selected = "";

                    if (pageSize == ViewBag.pageSize)
                    {
                        selected = " selected";
                    }

                    <option value="@pageSize" @selected>@pageSize</option>
                }
            }
        </select>
        <p style="vertical-align: middle; margin: 5px;">records per page</p>
    </div>
</div>



<table class="table table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            @{
                foreach (string col in ViewBag.displayCols)
                {
                    <th>
                        @{
                            string nextSortOrder = ViewBag.nextSortOrders[col];
                            string columnURL = $"goIndex({ViewBag.pageNumber}, {ViewBag.pageSize}, '{col}', '{nextSortOrder}');return false;";
                            string columnText = ServicesHelper.GetDisplayName<Equipment>(col);
                        }
                        <a href="/Equipment/Index" onclick="@columnURL">
                            @columnText
                        </a>
                    </th>
                }
            }
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @foreach (string col in ViewBag.displayCols)
                {
                    <td>
                        @item[col]
                    </td>
                }
                <td>
                    @Html.ActionLink("Edit", "Edit", null, new { onClick = $"goEdit({item.EquipId});return false;" }) |
                    @Html.ActionLink("Details", "Details", null, new { onClick = $"goDetails({item.EquipId});return false;" })
                </td>
            </tr>
        }
    </tbody>
</table>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        @{
            string firstPageURL = $"goIndex(1, {ViewBag.pageSize}, '{ViewBag.sortBy}', '{ViewBag.sortOrder}');return false;";
            string lastPageURL = $"goIndex({ViewBag.pageCount}, {ViewBag.pageSize}, '{ViewBag.sortBy}', '{ViewBag.sortOrder}');return false;";
            string firstPageItemState = "";
            string lastPageItemState = "";

            if (ViewBag.pageNumber == 1)
            {
                firstPageItemState = "disabled";
            }

            if (ViewBag.pageNumber == ViewBag.pageCount)
            {
                lastPageItemState = "disabled";
            }

            <li class="page-item @firstPageItemState">
                <a class="page-link" href="/Equipment/Index" onclick="@firstPageURL" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>

            int maxPage = ViewBag.pageNumber + ViewBag.pageIncrement;

            if (maxPage > ViewBag.pageCount)
            {
                maxPage = ViewBag.pageNumber + (ViewBag.pageCount - ViewBag.pageNumber);
            }

            for (int i = (ViewBag.pageNumber - ViewBag.pageIncrement); i <= maxPage; i++)
            {
                if (i > 0)
                {
                    string pageURL = $"goIndex({i}, {ViewBag.pageSize}, '{ViewBag.sortBy}', '{ViewBag.sortOrder}');return false;";

                    if (i == ViewBag.pageNumber)
                    {
                        <li class="page-item active">
                            <a class="page-link" href="/Equipment/Index" onclick="@pageURL">@i<span class="sr-only">(current)</span></a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item"><a class="page-link" href="/Equipment/Index" onclick="@pageURL">@i</a></li>
                    }
                }
            }

            <li class="page-item @lastPageItemState">
                <a class="page-link" href="/Equipment/Index" onclick="@lastPageURL" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        }
    </ul>
</nav>

@using (Html.BeginForm("Details", controller, FormMethod.Post, new { id = "formDetails" }))
{
    @Html.Hidden("id", null, new { id = "formDetailsFieldId" })
}

@using (Html.BeginForm("Edit", controller, FormMethod.Post, new { id = "formEdit" }))
{
    @Html.Hidden("id", null, new { id = "formEditFieldId" })
}

@using (Html.BeginForm("Index", controller, FormMethod.Post, new { id = "formIndex" }))
{
    @Html.Hidden("pageNumber", null, new { id = "formIndexPageNumberField" })
    @Html.Hidden("pageSize", null, new { id = "formIndexPageSizeField" })
    @Html.Hidden("sortBy", null, new { id = "formIndexSortByField" })
    @Html.Hidden("sortOrder", null, new { id = "formIndexSortOrderField" })
}

<script>
    function goDetails(id) {
        document.getElementById('formDetailsFieldId').value = id;
        document.getElementById('formDetails').submit();
    }

    function goEdit(id) {
        document.getElementById('formEditFieldId').value = id;
        document.getElementById('formEdit').submit();
    }

    function goIndex(pageNumber, pageSize, sortBy, sortOrder) {
        document.getElementById('formIndexPageNumberField').value = pageNumber;
        document.getElementById('formIndexPageSizeField').value = pageSize;
        document.getElementById('formIndexSortByField').value = sortBy;
        document.getElementById('formIndexSortOrderField').value = sortOrder;
        document.getElementById('formIndex').submit();
    }

    @{
        string sortBy = $"{ViewBag.sortBy}";
        string sortOrder = $"{ViewBag.sortOrder}";
        int pageNumber = ViewBag.pageNumber;
    }

    document.getElementById('selectPageSize').addEventListener('change', function () {
        goIndex(@{@pageNumber}, this.value, '@{@sortBy}', '@{@sortOrder}');
    });
</script>