@using Project1MVC.Models;
@using Project1MVC.Services;
@model List<Equipment>
@{
    ViewBag.Title = "Index";
}

<h2>All Equipments</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        @foreach (string col in ViewBag.displayCols)
        {
            <th>
                @Html.ActionLink(linkText: ServicesHelper.GetDisplayName<Equipment>(col), actionName: "Index", controllerName: "Equipment",
                routeValues: new { sortBy = col, sortOrder = ViewBag.nextSortOrders[col] },
                htmlAttributes: null
                )
            </th>
        }
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @foreach (string col in ViewBag.displayCols)
            {
                <td>
                    @item[col]
                </td>
            }
            <td>
                @Html.ActionLink("Edit", "Edit", null, new { onClick = $"goEdit({item.EquipId});return false;" }) |
                @Html.ActionLink("Details", "Details", null, new { onClick = $"goDetails({item.EquipId});return false;" })
            </td>

        </tr>
    }
</table>

@using (Html.BeginForm("Details", "Equipment", FormMethod.Post, new { id = "formDetails" }))
{
    @Html.Hidden("id", null, new { id = "formDetailsFieldId" })
}

@using (Html.BeginForm("Edit", "Equipment", FormMethod.Post, new { id = "formEdit" }))
{
    @Html.Hidden("id", null, new { id = "formEditFieldId" })
}

<script>
    function goDetails(id) {
        document.getElementById('formDetailsFieldId').value = id;
        document.getElementById('formDetails').submit();
    }

    function goEdit(id) {
        document.getElementById('formEditFieldId').value = id;
        document.getElementById('formEdit').submit();
    }
</script>