@model List<Project1MVC.Models.Equipment>
@{
    ViewBag.Title = "Index";
}

<h2>Equipments</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        @foreach (string col in ViewBag.displayCols)
        {
        <th>
            @Html.ActionLink(linkText: col, actionName: "Index", controllerName: "Equipment",
                    routeValues: new { sortBy = col, sortOrder = ViewBag.nextSortOrders[col] },
                    htmlAttributes: null
                )
        </th>
        }
    </tr>

@foreach (var item in Model)
{


<tr>
    @*<td>
            @Html.DisplayFor(modelItem => item.EquipId)
        </td>*@

    @foreach (string col in ViewBag.displayCols)
    {
        <td>
            @Html.DisplayFor(modelItem => item[col])
        </td>

        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id = item.EquipId }) |
            @Html.ActionLink("Details", "Details", new { id = item.EquipId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.EquipId })
        </td>*@
    }
</tr>
}
</table>